<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-sm bg-light w-50">
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>

      </tr>
      <tr>
        <td><%= form.text_field :name %></td>
        <td><%= form.text_field :sname %></td>

      </tr>

  </table>




  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
