<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <center>
<h1>Students</h1>

<table class="table table-sm w-75">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Należy do grup:</th>
      <th>Przedmiot</th>
      <th>Ocena:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.sname %></td>
        <td>
          <% student.groups.each do |g| %>
            <%= g.name %><br>
          <% end %>
        </td>
        <td>
          <% student.courses.each do |c| %>
           <%= c.name %><br>
          <% end %>
        </td>
        <td>
          <% student.courses.each do |c| %>
            <% xcs = CourseStudent.select(:grade).where(student_id: student.id).where(course_id: c.id).first%>
            <%= xcs.grade %><br>

          <% end %>
        </td>
        <td><%= link_to 'Show', student, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_student_path(student),remote: true, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="student_edit">

<%= render partial:'form', locals: {student: Student.new} %>
</div>
</center>
</div>
