<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Nazwa i semestr:</span>
    </div>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.number_field :semestr, class: "form-control" %>
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>

<% end %>
